<h1>{{header}}</h1>
<hr/>
<form [formGroup]='contactForm' (ngSubmit)="ngOnSubmit()" id="frmContact">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" placeholder="Introduzca un nombre" formControlName="name" class="form-control">
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="" id="" placeholder="Introduzca un correo" formControlName="email">
    </div>
    <div formArrayName="contacts">
        <h3>Añadir contacto</h3> <button (click)="addContacts()" type="button">Añadir contacto</button>      
        <div *ngFor="let contact of contacts.controls; let i=index">
          <label [formGroupName]="i">            
              <input type="text" formControlName="phone_number">
              <select formControlName="contact_type">
                  <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">{{contactType.name}}</option>
              </select>
              <button type="button" (click)="removeContact(i)" *ngIf="i > 0">Quitar</button>
          </label>
        </div>
      </div>
    <input type="submit" value="Guardar">
</form>